<!doctype html>
<title>Image Info</title>

<head>
<link type="text/css" rel="stylesheet"
  href="{{ url_for('static', filename='style.css') }}" />
</head>

<center>

<div class="full">
  <form id="search" method="POST">
      <input type="text" name="text", placeholder="url to search" size="50"/>
      <br>
      <input type="submit" value="Search"/>
  </form>


    {% if url %}
      <p> you want to identify <strong>{{ url }}</strong> this image</p>

      <img src="{{ url }}" alt="user_image" height="250" width="400">

      <h3>Classification</h3>
      <p> In this image the Top 3 objects found were as follows:
        <strong>
        <ul>
          <li>{{ prediction[0][0] + ' : ' + prediction[0][1] }}</li>
          <li>{{ prediction[1][0] + ' : ' + prediction[1][1] }}</li>
          <li>{{ prediction[2][0] + ' : ' + prediction[2][1] }}</li>
        </ul>
        </strong>
        <p>

      <p> You maybe wondering, why did it classify this image wrong, or,<br>
        why did it classify with such uncertainty? Click the Feature Map<br>
        button below to find out more.</p>

      <div class="activation">
        <form id="activate" method="POST">
          <input type="hidden" name="text" value="{{url}}">
          <input type="submit" name="activate" value="Feature Map"/>
        </form>
      </div>

      {% if activate %}

        <p> Look at the below feature map to see how the model is 'viewing'<br>
          your image. The dark areas is where the 'focus' is and could <br>
          give some hints?</p>

          <img src="{{ my_html }}" alt="feature map" height="250" width="400">

      {% endif %}

    {% else %}
      <p> please type a image url in the search box above.<br>
        The image must be <strong> 32 x 32</strong> pixels.<br>
        Must end with the common image extensions i.e. jpg, jpeg, png etc<p>
    {% endif %}
  </div>
</div>

</center>
